@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Inter:wght@400;600&display=swap");

:root {
  --font-size-xs: 1.6rem;
  --font-size-sm: 1.8rem;
  --font-size-md: 3.5rem;
  --font-size-lg: 5rem;
  --font-size-xl: 10.1rem;

  --font-default: "IBM Plex Sans", "Inter", sans-serif;
  --font-inter: "Inter", sans-serif;

  --black: #1e1e24;
  --white: #eeeeee;
  --green: #21a179;
  --red: #ff6347;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-default);
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--white);
}

p {
  font-family: var(--font-inter);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

ul,
ol {
  list-style: none;
}

.text-bold {
  font-weight: 700;
}

.h-wrapper {
  margin: 10rem 0;
}

.go-home {
  margin: 0 auto 15rem;
  max-width: 150rem;
}

.go-home a {
  display: flex;
  align-items: center;
  font-family: var(--font-inter);
  font-size: var(--font-size-md);
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
}

.go-home a {
  width: fit-content;
}

.go-home a svg {
  width: 5rem;
  color: var(--black);
}

.heading,
.lables-container {
  display: flex;
}

.heading {
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2.4rem 10rem;
  max-width: 130rem;
  border-bottom: 3px dashed var(--green);
}

.text-container > *:not(:last-child) {
  padding-bottom: 2.5rem;
}

.text-container {
  margin-right: 5rem;
}

.text-container p,
.lables-container {
  margin-right: 10rem;
}

.lables-container li {
  margin-right: 2rem;
  padding: 0.5rem 1rem;
  font-size: var(--font-size-sm);
  color: var(--white);
  background-color: var(--red);
  border-radius: 20rem;
}

.img-container {
  position: relative;
  max-width: 50rem;
  height: fit-content;
}

.img-container::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 2rem;
  background-color: var(--green);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: -1;
}

.img-container picture img {
  width: 100%;
  vertical-align: middle;
  border-radius: 100%;
}

@media only screen and (max-width: 1215px) {
  h1 {
    font-size: var(--font-size-lg);
  }

  h2 {
    font-size: var(--font-size-md);
  }

  .go-home {
    margin-bottom: 5rem;
    padding: 0 2.4rem;
  }

  .go-home a {
    font-size: var(--font-size-sm);
  }

  .go-home a svg {
    width: 3rem;
  }

  .lables-container li {
    font-size: var(--font-size-xs);
  }
}

@media only screen and (max-width: 995px) {
  .h-wrapper {
    margin: 5rem 0;
  }

  .heading {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
  }

  .text-container {
    margin: 0;
  }

  .text-container p,
  .lables-container {
    margin: 0;
  }

  .lables-container {
    flex-wrap: wrap;
  }

  .lables-container li {
    margin-bottom: 1rem;
  }
}

.ingredients,
.instruction {
  margin: 0 auto;
  padding: 2.4rem;
  max-width: 111rem;
}

.ingredients .ingredients-list,
.instruction .instruction-list {
  margin: 3rem 6rem 0;
}

.ingredients .ingredients-list li {
  padding-bottom: 2rem;
  font-size: var(--font-size-md);
  list-style-type: disc;
}

.instruction .instruction-list li {
  position: relative;
  padding-bottom: 2.5rem;
  font-size: var(--font-size-md);
}

.numbering {
  --dimension: 4rem;

  position: absolute;
  top: 0.5rem;
  left: -5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--dimension);
  height: var(--dimension);
  font-size: var(--font-size-sm);
  font-weight: bold;
  color: var(--white);
  background-color: var(--red);
  border-radius: 20rem;
}

@media only screen and (max-width: 995px) {
  .ingredients .ingredients-list li,
  .instruction .instruction-list li {
    padding-bottom: 3rem;
    font-size: var(--font-size-sm);
  }

  .ingredients .ingredients-list,
  .instruction .instruction-list {
    margin: 2rem 4rem 0;
  }

  .numbering {
    top: -0.5rem;
  }
}
